:host {
    .legend {
      small {
        font-size: x-small;
      }
    }
  }

.select {
  margin-bottom: 30px;
  display: inline-block;  /* Permet de ne pas occuper toute la largeur du parent */
}

select {
  width: auto; /* Laissez-le ajuster la largeur selon son contenu */
  max-width: 200px;  /* Limite la largeur à 200px, mais peut être ajustée */
  height: 30px;  /* Réduit la hauteur de l'élément select */
  font-size: 14px;  /* Réduit la taille de la police */
  padding: 5px;  /* Ajoute un peu d'espace autour du texte */
}


h3 {
  font-size: 15px;
  font-weight: bold;
}