<c-row class="mt-4">
  <c-col xs>
    <h2>Tableau de bord</h2>

    <c-card class="mb-4">
        <c-card-header>
            Vous pouvez voir ici les statistiques des manifestations, inscrit au concours, admis, inscrit definitivement
        </c-card-header>
        <c-card-body>
            
            <div class="select">
                <select aria-label="Default select example" [(ngModel)]="annee" 
                (keydown)="filtre($event)"
                cSelect>
                    <option value="" disabled>Filtrer par année</option>
                    <!-- <option *ngFor="let liste of listeAnnee" [value]="liste">{{ liste }}</option> -->
                    <option>2024</option>
                </select>
            </div>

            <br>

            <c-row>
                <c-col xs="3" *ngFor="let stat of listeStatistique">
                    <div class="border-start border-start-4 border-start-{{getColorStatistique(stat.id)}} py-1 px-3 mb-3">
                    <div class="text-body-secondary text-truncate small">{{ getTitle(stat.id) }}</div>
                    <div class="fs-5 fw-semibold">{{ stat.nombre }} étudiants</div>
                    </div>
                </c-col>
            </c-row>

            <hr class="mt-0" />

            <div class="progress-group" *ngFor="let stat of listeStatistique">
                <div class="progress-group-header">
                    <span>{{ getTitle(stat.id) }}</span>
                    <span class="ms-auto font-semibold">
                        {{ stat.nombre }} étudiants
                    </span>
                </div>
                <div class="progress-group-bars">
                    <c-progress thin color="{{getColorStatistique(stat.id)}}" value="{{ stat.nombre }}" aria-label="Organic search" />
                </div>
            </div>
        </c-card-body>
    </c-card>

    <div>
        <div class="row">
            <app-candidat-interresse  class="col-lg-3"></app-candidat-interresse>
            <app-total-inscription-concours class="col-lg-3"></app-total-inscription-concours>
            <app-candidat-eligible class="col-lg-3"></app-candidat-eligible>
            <app-statistique-admission class="col-lg-3"></app-statistique-admission>
        </div>
    </div>
  </c-col>
</c-row>
