<c-row ngPreserveWhitespaces>
    <c-col xs="12">
        <c-card class="mb-4">
        
          <c-card-body>

            <div class="row table-responsive m-3">
              <table class="table-hover" >
                <thead>
                <tr cTableColor="light">
                  <th scope="col">Date entretien</th>
                  <th scope="col">Date oral</th>
                    <th scope="col">Nombre de participant</th>
                    <th scope="col">Heure debut</th>
                    <th scope="col">Heure fin</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let rowData of dataSource; let i=index" (click)="redirigerFiche(rowData.idCalendrierConcours)">
                      <td>{{ rowData.dateConcoursEcrit }}</td>
                      <td>{{ formatedDate(rowData.dateConcoursOral) }}</td>
                      <td>{{ rowData.effectif }}</td>
                      <td>{{ rowData.premierPlageHoraire }}</td>
                      <td>{{ rowData.dernierPlageHoraire }}</td>
                    </tr>
                <tr>
                </tbody>
              </table>

            </div>


          </c-card-body>
        </c-card>
    </c-col>
</c-row>


