<c-row ngPreserveWhitespaces>
    <c-col>
      <h4>Liste des élèves inscrits définitivement</h4>
        <c-card>
            <c-card-body>
              
                <div class="row w-100 " style="margin-bottom: 16px;">
                    <div class="col-sm-12 d-flex gap-2">
                      <div>
                          <p-calendar 
                            [(ngModel)]="dateRange" 
                            selectionMode="range"
                            dateFormat="dd/mm/yy"
                            placeholder="filtrer par date"
                            [style]="{'height':'38px'}"
                            (keydown.enter)="filterListeEtudiant()"
                          ></p-calendar>
                        </div>
                    </div>
                    
                  </div>

                <div class="table-responsive">
                    <table cTable>
                      <thead>
                      <tr cTableColor="light">
                          <th scope="col">Etudiant</th>
                          <th scope="col">Date Inscription</th>
                          <th scope="col">Niveau</th>
                          <th scope="col">Parcours</th>
                          <th scope="col">Engagement</th>
                      </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let rowData of listeEtudiant">
                              <td>{{ rowData.etudiant }} </td>
                              <td>{{ rowData.dateInscription | date:'dd-MM-yyyy' }}</td>
                              <td>{{ rowData.niveau }}</td>
                              <td>{{ rowData.code }}</td>
                              <td>{{ rowData.engagement }}</td>
                          </tr>
                      </tbody>
                    </table>
                
                  </div>
                
                  <c-pagination align="center" aria-label="Page navigation example" style="cursor: pointer;">
                    <li cPageItem [disabled]="disableprevious">
                      <a cPageLink aria-label="Previous" 
                      (click)="onPreviousChange()">
                          <span>Précédent</span>
                      </a>
                    </li>
                    <li cPageItem *ngFor="let page of nombrePage"
                    [class.active]="page - 1 === pageActuelle">
                      <a cPageLink (click)="onPageChange(page-1)" >{{page}}</a>
                    </li>
                    <li cPageItem [disabled]="disablenext">
                      <a cPageLink aria-label="Next" 
                      (click)="onNextChange()">
                          <span>Suivant</span>
                      </a>
                    </li>
                  </c-pagination>
                
            </c-card-body>
        </c-card>
    </c-col>

</c-row>
