<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <h4>Liste des candidats à noté</h4>
      <c-card class="mb-4">
      
        <c-card-body>
          <div class="row w-100" style="margin-bottom: 16px;">
            <div class="col-sm-12 d-flex">
              <span style="margin-right:5px ;">
                <p-calendar 
                  [(ngModel)]="dateRange" 
                  selectionMode="range"
                  dateFormat="dd/mm/yy"
                  placeholder="filtrer par date"
                  (keydown.enter)="chercher()"
                  [style]="{'height':'38px'}"
                ></p-calendar>

              </span>
              
            </div>
            
          </div>

          <div class="table-responsive">
            <table cTable>
              <thead>
                <tr cTableColor="light">
                    <th scope="col">Nom(s) </th>
                    <th scope="col">Prénom(s)</th>
                    <th scope="col">Campus</th>
                    <th scope="col">Niveau</th>
                    <th scope="col">Date Ecrit</th>
                    <th scope="col">Date Oral</th>
                    <th scope="col">Heure oral</th>
                    <th scope="col">Enseignant</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let rowData of dataSource" >
                        <td>{{ rowData.nom }} </td>
                        <td>{{ rowData.prenom }}</td>
                        <td>{{ rowData.nomCampus }}</td>
                        <td>{{ rowData.abreviationNiveau }}</td>
                        <td>{{ rowData.dateConcoursEcrit }}</td>
                        <td>{{ rowData.dateConcoursOral }}</td>
                        <td>{{ rowData.heureDebut }}</td>
                        <td></td>
                        <td>
                          <a cButton color="light" variant="ghost" 
                          style="cursor: pointer; color: #5856d6;"
                          cTooltip="Valider le dossier" cTooltipPlacement="top"
                          (click)="rediriger(rowData.idConcours)">
                            <svg cIcon name="cil-notes" size="l" title="Action"></svg>
                          </a>
                        </td>
                      </tr>
                
                </tbody>
              </table>

            </div>


            
              <c-pagination aria-label="Page navigation example" cla>
                <li cPageItem>
                  <a cPageLink (click)="previous()">Previous</a>
                </li>
                <li cPageItem *ngFor="let item of  [].constructor(pageNumber); let i = index"  [active]="i+1==page">
                  <a cPageLink (click)="chercherPage(i+1)">{{i+1}}</a>
                </li>
                <li cPageItem>
                  <a cPageLink (click)="next()">Next</a>
                </li>
              </c-pagination>

          </c-card-body>
        </c-card>
    </c-col>
</c-row>


