<c-row ngPreserveWhitespaces>
    <c-col>
        <h4 class="mb-3">Configurer les notes seuil pour chaque niveau</h4>
        <c-card class="mb-4">
        
            <c-card-body class="p-4">
                
                
                <br>

                <div class="table-responsive">
                    <table cTable>
                        <thead>
                        <tr cTableColor="light">
                            <th scope="col">Niveau</th>
                            <th>Date de modification</th>
                            <th scope="col">Note</th>
                            <th scope="col" [width]="25"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let baremenote of seuilnotes">
                            <td>{{baremenote.nomNiveau}}</td>
                            <td>{{formatedDate(baremenote.dateSaisie!)}}</td>
                            <td style="position: relative;">
                                <span *ngIf="!baremenote.showEdit">{{ baremenote.note }}</span>
                                <input *ngIf="baremenote.showEdit" type="number" [(ngModel)]="baremenote.note" 
                                (blur)="saveChanges()" 
                                class="form-control" 
                                style="width: 80px;" 
                                (Keydown)="saveChanges()"/>
                            </td>
                            <td>
                                <button 
                                    cButton
                                    class="ms-3"
                                    title="Modify"
                                    (click)="startEdit(baremenote)"
                                    style="cursor: pointer; display: inline-flex; align-items: center;"
                                    *ngIf="baremenote.showEdit == false">
                                    <svg cIcon name="cil-pencil" style="width: 16px; height: 16px;"></svg>
                                </button>

                                <button 
                                    cButton
                                    class="ms-3"
                                    title="Modify"
                                    (click)="endEdit(baremenote)"
                                    style="cursor: pointer; display: inline-flex; align-items: center;"
                                    *ngIf="baremenote.showEdit == true">
                                    <svg cIcon name="cil-x" style="width: 16px; height: 16px;"></svg>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <button cButton color="primary" type="submit" class="w-100"
                    (click)="enregistrer()">Enregistrer</button>
                </div>

            </c-card-body>

        </c-card>
    </c-col>
</c-row>
