.dropdown-toggle::after {
    display: none; /* Masquer la flèche */
}
/* exemple.component.css */
.custom-dropdown-toggle::after {
    display: none; /* Masquer la flèche */
}

/* Garder le texte noir pour tous les états */
.custom-dropdown-toggle {
    text-decoration: none; /* Supprime le soulignement */
    color: black !important; /* Couleur du texte */
}

/* Assurez-vous que le texte reste noir même au survol */
.custom-dropdown-toggle:hover {
    text-decoration: none; /* Supprime le soulignement au survol */
    color: black !important; /* Couleur au survol */
}

.custom-dropdown-toggle:focus {
    color: black !important; /* Couleur au focus */
}

.custom-dropdown-toggle:active {
    color: black !important; /* Couleur au clic */
}

td,th{
    padding: 1rem;
}

.text-nowrap {
    white-space: nowrap;
}

.badge-info {
    height: 35px; 
    padding-top: 8px; 
    background-color: #cfc7f3; 
    color: #6243a6;
    font-size: 14px;
}
