p-multiSelect.is-invalid .p-multiselect {
    border: 1px solid #dc3545; /* Couleur de la bordure rouge */
    border-radius: 0.25rem;
  }
  
  p-multiSelect.is-invalid .p-multiselect-label {
    color: #dc3545; /* Texte en rouge */
  }

.label {
  color: #2e2d91;
  font-weight: 500;
}

.inputTime:hover {
  border-color: #5856d6;
}