
<div class="card mb-4">
    <div class="card-body">
        <label class="mb-4">Ajouter les frais de scolarité pour l'année scolaire <span class="text-primary">{{ anneeScolaire }}</span></label>

        <div>
            <p style="display: flex; align-items: center; gap: 10px;" 
            *ngFor="let liste of listeNiveauTypeFormation">
                <span>
                    <label>{{ liste.nomTypeFormation }} / {{ liste.nomNiveau }} :</label>
                </span>
                <span>
                    <input cFormControl type="text" [(ngModel)]="liste.montant" placeholder="Montant">
                </span>
                <span><label>Ar</label></span>
            </p>
        </div>

        <div>
            <button cButton color="success" class="text-white" (click)="enregistrerMontants()">
                Valider
            </button>
        </div>
    </div>
</div>
