<c-row ngPreserveWhitespaces class="mb-5">
    <c-row cols="12">
        <h3>Admission automatique</h3>
        <p>Validez automatiquement les résultats du concours et les notes des étudiants, garantissant un processus d’évaluation rapide et précis. </p>
    </c-row>
    <c-row cols="12">
        <c-col xs="6">
            <h5>INFORMATIONS SUR L’ADMISSION AUTOMATIQUE</h5>
            <c-card class="p-3">
                <c-card-body>
                    
        
                    <div *ngFor="let seuil of seuilnotes" class="w-50 mt-3">
                        <label>Notre seuil {{ seuil.nomNiveau }}</label>
                        <input type="number" disabled class="form-control" [value]="seuil.note">
                    </div>
        
                </c-card-body>

                <c-card-footer>
                    <p><strong>Note:</strong> Pour modifier la note seuil pour l’admission automatique, aller dans le menu <a href="#/seuil-note-concours">paramétrage</a></p>
                </c-card-footer>
            </c-card>
        </c-col>
        <c-col xs="6">
            <c-card class="p-3">
                <c-card-body>
                    <h5>VALIDATION AUTOMATIQUE</h5>
                    <p>Pour ce seuil, voici le nombre d’étudiants admis par niveau : </p>

                    <div>
                    <ul>
                        <li *ngFor="let nbEtudiantAdmis of nbEtudiantAdmisNiveau">
                            <strong>{{nbEtudiantAdmis.niveau}}</strong> : {{nbEtudiantAdmis.nbEtudiant}} étudiants
                        </li>
                    </ul>
                    </div>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
    <c-row class="mt-3">
        <button cButton color="primary" type="submit" class="w-100">Valider l'admission automatique</button>
    </c-row>
</c-row>