<form [formGroup]="myForm" (ngSubmit)="save()">
    <c-row>
        <c-col xs="4">
              <label cLabel for="exampleFormControlInput1">Niveau</label>
              <select aria-label="Default select example" cSelect 
              formControlName="idNiveau">
                    <option *ngFor="let item of niveau" [value]="item.idNiveau">{{item.nom}}</option>
                  </select>
        </c-col>

        <c-col xs="4">
              <label cLabel for="exampleFormControlInput1">Mois</label>
              <select aria-label="Default select example" cSelect 
              formControlName="mois">
                    <option *ngFor="let item of mois; let i=index" [value]="i+1">{{item}}</option>
                  </select>
        </c-col>
        <c-col xs="4">
              <label cLabel for="exampleFormControlInput1">Année</label>
              <input cFormControl
                    formControlName="annee"
                    type="text"
              />
        </c-col>
  </c-row>
  <c-row>
        <c-col xs="12" style="margin-top: 15px;margin-bottom: 15px;">
              <button cButton color="primary" type="submit">Enregistrer</button>
        </c-col>
  </c-row>

<editor apiKey="xzwz4i3j3fsvrhlg9pwraswwbkr5cdxgie18ete1ckjewo3b"
[init]="init"
#editor
formControlName="sujet"
/>
</form>