
<div class="card">
    <div class="card-header">
        <h5>Liste des inscriptions</h5>
    </div>

    <div class="card-body">
        <div class="row w-100" style="margin-bottom: 16px;">
            <div class="col-sm-6 d-flex">
                <input cFormControl
                    id="exampleFormControlInput1"
                    placeholder="Nom ou Prénom"
                    type="text"
                    style="max-width: 220px;"
                    [(ngModel)]="recherche" 
                    (keydown.enter)="chercher()"
                />
            </div>
        </div>

        <div class="table-responsive">
            <table cTable>
                <thead>
                    <tr cTableColor="light">
                        <th>#</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Email</th>
                        <th>Date d'inscription</th>
                        <th>Mode de paiement</th>
                        <th>Statut inscription</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let liste of dataSource1">
                        <td>{{ liste.idConcours }}</td>
                        <td>{{ liste.nom }}</td>
                        <td>{{ liste.prenom }}</td>
                        <td>{{ liste.email }}</td>
                        <td>{{ formatedDate(liste.dateInscription) }}</td>
                        <td>{{ getStatutModePaiement(liste.modePaiement) }}</td>
                        <td>
                            <c-badge [color]="getColorIconStatutConcours(liste.etat!)">                            
                                {{ getStatutConcours(liste.etat!) }}
                            </c-badge>
                        </td>
                        <td>
                            <div style="margin-bottom: 10px;">

                                <a cButton color="light" variant="ghost" 
                                style="cursor: pointer; color: #5856d6;"
                                cTooltip="Valider le dossier" cTooltipPlacement="top" (click)="voirFiche(liste.idConcours)">
                                    <svg cIcon name="cil-search" size="l" title="Action"></svg>
                                </a>
                                                               
                                <a cButton color="light" variant="ghost" 
                                style="cursor: pointer; color: #5856d6;"
                                *ngIf="liste.etat==1"
                                (click)="validerRecouvrement(liste.idConcours)"
                                cTooltip="Valider" cTooltipPlacement="top" >
                                    <svg cIcon name="cil-check-alt" size="l" title="Action"></svg>
                                </a>
                                                               
                                <a cButton color="light" variant="ghost" 
                                style="cursor: pointer; color: #5856d6;"
                                *ngIf="liste.etat==1"
                                cTooltip="Annuler" cTooltipPlacement="top" >
                                    <svg cIcon name="cil-x" size="l" title="Action"></svg>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card-footer">
        <c-pagination aria-label="Page navigation example" cla>
            <li cPageItem>
                <a cPageLink (click)="previous()">Previous</a>
            </li>
            <li cPageItem *ngFor="let item of  [].constructor(pageNumber); let i = index"  [active]="i+1==page">
                <a cPageLink (click)="chercherPage(i+1)">{{i+1}}</a>
            </li>
            <li cPageItem>
                <a cPageLink (click)="next()">Next</a>
            </li>
        </c-pagination>
    </div>
</div>
