.c-modal-body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem; /* Espacement entre les checkboxes */
  }
  
.fixed-sidebar {
  position: fixed;
  overflow-y: auto;
  margin-right: 20px;
}

.text-wrap-tittle {
  white-space: wrap; /* wrap fonctionne aussi dans certains contextes */
  width: 180px;
}

.text-wrap {
  white-space: wrap; /* wrap fonctionne aussi dans certains contextes */
  width: 130px;
}
  