<section class="m-0">
  <div class="container px-5">
    <div id="stepper" class="bs-stepper w-100">
      <div class="bs-stepper-header">
        <div class="step" [class.active]="currentStep === 1">
          <button type="button" class="step-trigger pb-2">
            <span class="bs-stepper-circle">1</span>
            <span class="bs-stepper-label">Véhicule</span>
          </button>
        </div>
        <div class="line"></div>
        <div class="step" [class.active]="currentStep === 2">
          <button type="button" class="step-trigger pb-2">
            <span class="bs-stepper-circle">2</span>
            <span class="bs-stepper-label">Votre devis</span>
          </button>
        </div>
        <div class="line"></div>
        <div class="step" [class.active]="currentStep === 3">
          <button type="button" class="step-trigger pb-2">
            <span class="bs-stepper-circle">3</span>
            <span class="bs-stepper-label">Rendez-vous</span>
          </button>
        </div>
      </div>

      <div class="bs-stepper-content d-flex justify-content-center">

        <div class="content active w-50">
          <app-info-vehicule (messageEvent)="receiveMessage($event)" (dataEvent)="receiveDataInfoVehicule($event)"></app-info-vehicule>
        </div>

        <div class="content w-50">
          <app-votre-devis 
            (messageEvent)="receiveMessage($event)" 
            (dataEvent)="receiveDataVotreDevis($event)"
            [idType]="infoVehiculeData?.idType" 
            [idModele]="infoVehiculeData?.idModele"
            [infoVehiculeData]="infoVehiculeData">
          </app-votre-devis>
        </div>

        <div class="content w-50">
          <app-rendez-vous (messageEvent)="receiveMessage($event)" (dataEvent)="receiveDataVotreDevis($event)" [idDevis]="idDevis"></app-rendez-vous>
        </div>

      </div>

    </div>
  </div>
</section>
