<section class="m-0">
  <div class="container px-5">
    <div id="stepper" class="bs-stepper w-100">
      <div class="bs-stepper-header">
        <div class="step" [class.active]="currentStep === 1">
          <button type="button" class="step-trigger pb-2" (click)="stepperService.setStep(1)">
            <span class="bs-stepper-circle">1</span>
            <span class="bs-stepper-label">Véhicule</span>
          </button>
        </div>
        <div class="line"></div>
        <div class="step" [class.active]="currentStep === 2">
          <button type="button" class="step-trigger pb-2" (click)="stepperService.setStep(2)">
            <span class="bs-stepper-circle">2</span>
            <span class="bs-stepper-label">Votre devis</span>
          </button>
        </div>
        <div class="line"></div>
        <div class="step" [class.active]="currentStep === 3">
          <button type="button" class="step-trigger pb-2" (click)="stepperService.setStep(3)">
            <span class="bs-stepper-circle">3</span>
            <span class="bs-stepper-label">Confirmer devis</span>
          </button>
        </div>
        <div class="line"></div>
        <div class="step" [class.active]="currentStep === 4">
          <button type="button" class="step-trigger pb-2" (click)="stepperService.setStep(4)">
            <span class="bs-stepper-circle">4</span>
            <span class="bs-stepper-label">Rendez-vous</span>
          </button>
        </div>
      </div>

      <div class="bs-stepper-content">
        <div class="content active">
          <app-info-vehicule (messageEvent)="receiveMessage($event)" (dataEvent)="receiveDataInfoVehicule($event)"></app-info-vehicule>
        </div>

        <div class="content">
          <app-votre-devis 
            (messageEvent)="receiveMessage($event)" 
            (dateEvent)="receiveDataVotreDevis($event)" 
            [idType]="infoVehiculeData?.idType" 
            [idModele]="infoVehiculeData?.idModele">
          </app-votre-devis>
        </div>

        <div class="content">
          <app-confirme-devis (messageEvent)="receiveMessage($event)"></app-confirme-devis>
        </div>

        <div class="content">
          <app-rendez-vous (messageEvent)="receiveMessage($event)"></app-rendez-vous>
        </div>
      </div>

    </div>
  </div>
</section>
