.dropdown-toggle::after {
    display: none; /* Masquer la flèche */
}
/* exemple.component.css */
.custom-dropdown-toggle::after {
    display: none; /* Masquer la flèche */
}

/* Garder le texte noir pour tous les états */
.custom-dropdown-toggle {
    text-decoration: none; /* Supprime le soulignement */
    color: black !important; /* Couleur du texte */
}

/* Assurez-vous que le texte reste noir même au survol */
.custom-dropdown-toggle:hover {
    text-decoration: none; /* Supprime le soulignement au survol */
    color: black !important; /* Couleur au survol */
}

.custom-dropdown-toggle:focus {
    color: black !important; /* Couleur au focus */
}

.custom-dropdown-toggle:active {
    color: black !important; /* Couleur au clic */
}

td,th{
    padding: 1.5rem;
}

c-dropdown.disabled {
    pointer-events: none;
    opacity: 0.6;
}




.custom-dropdown {
    position: relative;
    display: inline-block;
    width: 200px;
    padding: 5px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 14px;
  
    .selected-option {
      padding: 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .dropdown-options {
      position: absolute;
      width: 100%;
      background-color: white;
      border: 1px solid #ccc;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      z-index: 10;
      max-height: 150px;
      overflow-y: auto;
    }
  
    .dropdown-options div {
      padding: 8px;
      cursor: pointer;
      display: flex;
      align-items: center;
      transition: background 0.2s;
      max-width: 200px;
  
      &:hover {
        background-color: #f0f0f0;
      }
    }
  
    .dropdown-arrow {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 6px solid #000;
    }
  }
  