<c-row ngPreserveWhitespaces>
    <c-col xs="12">
        <c-card class="mb-4 p-2">
            <c-card-body>
                <div class="row">
                    <div class="d-flex gap-2 justify-content-between">
                        <div class="d-flex gap-2">
                            <c-avatar color="warning" shape="rounded" textColor="white">EP</c-avatar>
                            <div>
                                <b>{{dataNote?.concours?.nom}} {{dataNote?.concours?.prenom}}</b>
                                <p>{{dataNote?.concours?.email}}</p>
                            </div>
                        </div>
                        <div>
                            <a  class="text-primary" (click) = "openFichier(dataNote?.concours?.resultatEssaie!,$event)"> 
                                <button cButton class="manokana">
                                    <svg cIcon name="cil-file" size="l" title="Action"></svg>
                                    Voir essai
                                </button>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="d-flex gap-4 mb-4">
                    <div class="me-5">
                        <p class="m-0">Status</p>
                        <b><c-badge *ngIf="isValide()" color="success">Valider par l'enseignant</c-badge><c-badge *ngIf="!isValide()" color="danger">Pas encore valider</c-badge></b>
                    </div>
                    <div class="border-start border-3 ps-2 me-5 ms-4">
                        <p class="m-0">Niveau</p>
                        <b>{{dataNote?.concours?.niveau}}</b>
                    </div>
                    <div class="border-start border-3 ps-2 me-5 ms-4">
                        <p class="m-0">Parcours</p>
                        <b>{{dataNote?.concours?.parcours}}</b>
                    </div>
                    <div class="border-start border-3 ps-2 me-5 ms-4">
                        <p class="m-0">Enseignant</p>
                        <b>{{dataNote?.concours?.enseignant}}</b>
                    </div>
                </div>

                <div class="mt-5"  *ngFor="let detailNote of dataNote?.detailNote;let j=index">
                    <h3 class="text-center">{{detailNote.epreuve}}</h3>
                    <table cTable >
                        <thead>
                            <tr cTableColor="light">
                                <th scope="col">Description</th>
                                <th scope="col">Note maximum</th>
                                <th scope="col">Note</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of detailNote.detail;let i=index">
                                <td>{{item.description}}</td>
                                <td>{{item.noteMaximum}}</td>
                                <td>
                                    <input cFormControl
                                        id="exampleFormControlInput1"
                                        placeholder="0"
                                        type="number"
                                        min="0"  
                                        (max)="item.noteMaximum"
                                        [(ngModel)]="dataNote!.detailNote[j].detail[i].note" 
                                    />
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div>
                        <h5 class="tittle-observation">Observation</h5>
                        <textarea cFormControl 
                        id="exampleFormControlTextarea1" 
                        rows="3"
                        placeholder="Observation"
                        type="text"
                        [(ngModel)]="detailNote.observation!.observation"></textarea>
                    </div>
                </div>
                
              

            </c-card-body>
            <c-card-footer class="mt-5 text-end" *ngIf="!isValide()">
                <button cButton color="primary" (click)="save()" class="w-50 mt-2">Enregistrer</button>
            <!-- <button cButton color="secondary" (click)="saveAndValider()" class="w-100 mt-3">Enregistrer et Valider</button> -->
            </c-card-footer>

        </c-card>
    </c-col>
</c-row>



<c-modal id="liveDemoModal" [visible]="showModal" alignment="center" class="modal-md p-4">
    <c-modal-header class="pb-0">
        <div class="d-flex flex-column align-items-start">
            <h4 class="modal-title">Note du candidat(e)</h4>
            <p>Récapitulatif du note de l'épreuve écrite et orale</p>
        </div>
        <button (click)="toggleLiveDemo()" cButtonClose class="btn btn-close me-3" type="button"></button>
    </c-modal-header>

    <c-modal-body class="m-2 pt-0">
        <div *ngFor="let detailNote of dataNote?.detailNote;let j=index">
            <h5 class="fw-bold mt-2">{{ detailNote.epreuve }}</h5>
            <ul class="list-group">
                <li *ngFor="let item of detailNote.detail" class="list-group-item d-flex justify-content-between">
                    <p class="m-0"><span class="text-warning">⬤</span> {{ item.description }}</p>
                    <span>{{ item.note }}/{{ item.noteMaximum }}</span>
                </li>
            </ul>
        </div>

        <hr>
        <div class="fw-bold d-flex justify-content-between">
            <p>Moyenne:</p> <span>{{ moyenne.toFixed(2) }}/{{ totalNoteMax }}</span> 
        </div>

        <c-row class="p-3 pt-1">
            <button *ngIf="isNoter == true" cButton color="primary" type="submit" class="w-100" (click)="valider()">Valider</button>
            <button cButton color="secondary" type="button" class="w-100 mt-2" (click)="toggleLiveDemo()">Annuler</button>
        </c-row>
    </c-modal-body>
</c-modal>


