.manokana{
    border: 1px solid #5856d6;
    background-color: transparent;
    color: #5856d6;
}

h3.text-center {
    font-weight: bold;
    text-align: center;
    background-color: #f8f9fa; /* Example light background */
}

.tittle-observation {
    font-weight: bold;
}
  