<c-row ngPreserveWhitespaces>
    <c-col xs="12">
        <c-card class="mb-4">
          <c-card-header>
            <h4>Concours du semaine de {{date}}</h4>
          </c-card-header>
          <c-card-body>
            <form [formGroup]="form" (ngSubmit)="enregistrer()">

                <table cTable >
                  <thead>
                    <tr cTableColor="light">
                      <th scope="col">Heure oral</th>
                      <th scope="col">Lieu</th>
                      <th scope="col">Effectif</th>
                      <th scope="col">Enseignant</th>
                      <th scope="col">Salle</th>
                      <th scope="col">Lien visio</th>
                    </tr>
                  </thead>
                  <tbody formArrayName="rows">
                    <tr *ngFor="let rowData of dataSource; let i = index" [formGroup]="getRowFormGroup(i)">
                      <input type="hidden" value="rowData?.idCalendrierConcours"
                      formControlName="idCalendrierConcours">
                      <input type="hidden" value="rowData?.idPlageHoraire"
                      formControlName="idPlageHoraire">
                      <input type="hidden" value="rowData?.idCampus"
                      formControlName="idCampus">
                      <input type="hidden" value="rowData?.typePresentation"
                      formControlName="typePresentation">
                      <td>{{ rowData?.heureDebut }}</td>
                      <td>{{ rowData?.lieuxOral }}</td>
                      <td>{{ rowData?.effectif }}</td>
                      <td>

                        <span *ngIf="rowData?.idEnseignant ; else elseCondition">
                          {{ rowData?.nom }} {{ rowData?.prenom }}
                        </span>
                        <ng-template #elseCondition>
                          <p-autoComplete 
                            [suggestions]="filteredEnseignant"
                            (completeMethod)="searchEnseignant($event)"
                            formControlName="idEnseignant"
                            field="nomcomplet"
                            [dropdown]="true"
                            styleClass="w-100"
                            [style]="{'height':'38px'}"
                            placeholder="Choisir l'enseignant"
                            >
                        </p-autoComplete>
                        </ng-template>
                      </td>
                      <td>
                        <div *ngIf="rowData.typePresentation==1">
                          <span *ngIf="rowData?.salle  ; else elseCondition">
                            {{ rowData?.salle }}
                          </span>
                          <ng-template #elseCondition>
                            <p-autoComplete 
                              [suggestions]="filteredSalle"
                              (completeMethod)="searchSalleTana($event)"
                              formControlName="idSalle"
                              field="nom"
                              [dropdown]="true"
                              styleClass="w-100"
                              [style]="{'height':'38px'}"
                              placeholder="Choisir la salle"
                              *ngIf="rowData?.idCampus==1">
                          </p-autoComplete>
                          <p-autoComplete 
                              [suggestions]="filteredSalle"
                              (completeMethod)="searchSalleBira($event)"
                              formControlName="idSalle"
                              field="nom"
                              [dropdown]="true"
                              styleClass="w-100"
                              [style]="{'height':'38px'}"
                              placeholder="Choisir la salle"
                              *ngIf="rowData?.idCampus==2">
                          </p-autoComplete>
                          </ng-template>
                        </div>                        
                      </td>
                      <td>
                        <div *ngIf="rowData.typePresentation==0">

                          <span *ngIf="rowData?.urlVisio ; else elseCondition">
                            {{ rowData?.urlVisio }}
                          </span>
                          <ng-template #elseCondition>

                            <input 
                              cFormControl
                              id="urlVisio"
                              formControlName="urlVisio"
                              placeholder="Entrer le lien de la vision"
                              type="text"
                            />                        
                          </ng-template>
                        </div>
                      </td>
                    </tr>
              
                  </tbody>
                </table>

                <div class="text-end">
                  <button cButton color="light" type="button" (click)="reset()"
                  class="me-2" >
                    Annuler
                  </button>
                  <button cButton color="primary" type="submit">
                    Enregistrer
                  </button>
                </div>
            </form>
          </c-card-body>
        </c-card>
    </c-col>
</c-row>
  
  