<div
  class="dark:bg-transparent min-vh-100 d-flex flex-row align-items-center"
  style="background: linear-gradient(to right, #162e52, #2a76a6, #00a49e);"
>
  <c-container breakpoint="md">
    <c-row class="justify-content-center">
      <c-col lg="10" xl="8">
        <c-card-group class="align-items-center">
          <c-card
            [ngStyle]="{
              'minWidth.%': 44
            }"
            class="text-white py-5"
            style="background: transparent; border: none;"
          >
            <c-card-body class="text-center">
              <h1>Garage Mecanique</h1>
              <h5>Gestion de parc automobile</h5>
            </c-card-body>
          </c-card>

          <c-card class="p-4" [ngStyle]="{ 'border-radius': '20px' }">
            <c-card-body>
              <form cForm [formGroup]="inscriptionForm" (ngSubmit)="onInscription()">
                <h1 style="color: #162e52;">Inscription</h1>
                <p class="text-body-secondary">Create your account</p>

                <label class="mt-2">Nom</label>
                <input type="text" cFormControl placeholder="Nom" formControlName="nom">

                <label class="mt-2">Prénom</label>
                <input type="text" cFormControl placeholder="Prenom" formControlName="prenom">

                <label class="mt-2">Email</label>
                <input type="email" cFormControl placeholder="Email" formControlName="email">

                <label class="mt-2">Téléphone</label>
                <input type="phone" cFormControl placeholder="034 00 000 00" formControlName="telephone">

                <label class="mt-2">Mot de passe</label>
                <input type="text" cFormControl formControlName="mdp">

                <c-row class="mt-4">
                  <c-col xs="6">
                    <button cButton class="px-4" type="submit" style="background-color: #162e52; border-color: #162e52;">
                      S'inscrire
                    </button>
                  </c-col>
                  <c-col class="text-right" xs="6">
                    <a href="/#/login">
                      <button cButton class="px-0" color="link" >
                        Se connecter
                      </button>
                    </a>
                  </c-col>
                </c-row>

              </form>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
