<c-row ngPreserveWhitespaces>
  <c-col xs="12">
      <c-card class="mb-4">
      
        <c-card-body>
          <div class="row w-100" style="margin-bottom: 16px;">
            <div class="col-sm-12 d-flex">
              <span style="margin-right:5px ;">
                <p-calendar 
                  [(ngModel)]="dateRange" 
                  selectionMode="range"
                  dateFormat="dd/mm/yy"
                  placeholder="filtrer par date"
                  (keydown.enter)="chercher()"
                  [style]="{'height':'38px'}"
                ></p-calendar>

              </span>
              
            </div>
            
          </div>

            <div class="table-responsive">
              <table class="table" >
                <thead>
                <tr cTableColor="light">
                    <th scope="col">Nom(s) </th>
                    <th scope="col">Prénom(s)</th>
                    <th scope="col">Campus</th>
                    <th scope="col">Niveau</th>
                    <th scope="col">Note Ecrit</th>
                    <th scope="col">Note Orale</th>
                    <th scope="col">Moyenne</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let rowData of dataSource">
                        <td>{{ rowData.nom }}</td>
                        <td>{{ rowData.nom }} </td>
                        <td>{{ rowData.nomCampus }}</td>
                        <td>{{ rowData.abreviationNiveau }}</td>
                        <td>{{ rowData.noteEssai }}</td>
                        <td>{{ rowData.noteEntretien }}</td>
                        <td>{{ rowData.moyenne }}</td>
                      </tr>
                
                </tbody>
              </table>

            </div>


            
              <c-pagination aria-label="Page navigation example" cla>
                <li cPageItem>
                  <a cPageLink (click)="previous()">Previous</a>
                </li>
                <li cPageItem *ngFor="let item of  [].constructor(pageNumber); let i = index"  [active]="i+1==page">
                  <a cPageLink (click)="chercherPage(i+1)">{{i+1}}</a>
                </li>
                <li cPageItem>
                  <a cPageLink (click)="next()">Next</a>
                </li>
              </c-pagination>

          </c-card-body>
        </c-card>
    </c-col>
</c-row>


