
<c-row ngPreserveWhitespaces>
    <c-col>
        <h5>Inscription définitive</h5>
        <c-card>
          <c-card-body>
           
            <c-row>
                <c-col>
                    <div>
                        <label cLabel for="exampleFormControlInput1">Date de naissance</label>
                        <input
                        cFormControl
                        name="dateNaissance"
                        [(ngModel)]="dateNaissance"
                        type="date"
                        />
                    </div>
                </c-col>

                <c-col>
                    <div>
                        <label cLabel for="exampleFormControlInput1">Lieu naissance</label>
                        <input
                        cFormControl
                        name="lieuNaissance"
                        [(ngModel)]="lieuNaissance"
                        type="text"
                        placeholder="Lieu naissance"
                        />
                    </div>
                </c-col>
            </c-row>
            <br>

            <c-row>
                <c-col>
                    <div>
                        <label cLabel for="exampleFormControlInput1">Pays d'origine</label>
                        <input
                        cFormControl
                        name="paysOrigine"
                        [(ngModel)]="paysOrigine"
                        type="text"
                        placeholder="Pays d'origine"
                        />
                    </div>
                </c-col>

                <c-col>
                    <div>
                        <label cLabel for="exampleFormControlInput1">Nationalité</label>
                        <input
                        cFormControl
                        name="nationalite"
                        [(ngModel)]="nationalite"
                        type="text"
                        placeholder="nationalité"
                        />
                    </div>
                </c-col>
            </c-row>
            <br>
            <div>
                <label cLabel for="exampleFormControlInput1">Adresse</label>
                <input
                cFormControl
                name="adresse"
                [(ngModel)]="adresse"
                type="text"
                placeholder="adresse"
                />
            </div>
            <br>
            <div>
                <label cLabel for="exampleFormControlInput1">Genre</label>
                <c-row>
                    <c-col>
                        <c-form-check>
                            <input cFormCheckInput type="radio" value="f" name="flexRadioDefault" 
                            name="genre"
                            [(ngModel)]="genre" />
                            <label cFormCheckLabel>Féminin</label>
                        </c-form-check>
                    </c-col>

                    <c-col>
                        <c-form-check>
                            <input cFormCheckInput type="radio" value="m" name="flexRadioDefault"
                            name="genre"
                            [(ngModel)]="genre" />
                            <label cFormCheckLabel>Masculin</label>
                        </c-form-check>
                    </c-col>
                </c-row>
            </div>
            <br>
            <div>
                <label cLabel for="exampleFormControlInput1">Engagement</label>
                <select 
                    aria-label="Engagement" 
                    cSelect 
                    name="engagement"
                    [(ngModel)]="engagement">
                    <option>Choisissez un duree d'engagement</option>
                    <option *ngFor="let liste of listeEngagement" 
                    [value]="liste.idEngagement">
                    {{ liste.duree }} {{ +liste.duree === 1? 'an' : 'ans' }}
                    </option>
                </select>
            </div>
            
            <hr style="margin-top: 50px; margin-bottom: 30px;">

            <p class="child-title">Informations parent(s) ou tuteur</p>

            <div>
                <label cLabel for="exampleFormControlInput1">Type parent</label>
                <select 
                    aria-label="typeParent" 
                    cSelect 
                    name="typeParent"
                    [(ngModel)]="typeParent">
                    <option>Choisissez le type de parent</option>
                    <option *ngFor="let liste of listeTypeParent" 
                    [value]="liste.idTypeParent">
                    {{ liste.description }}
                    </option>
                </select>
            </div>

            <br>
            <c-row>
                <c-col>
                    <div>
                        <label cLabel for="exampleFormControlInput1">Nom</label>
                        <input
                        cFormControl
                        name="nom"
                        [(ngModel)]="nom"
                        type="text"
                        placeholder="Nom"
                        />
                    </div>
                </c-col>

                <c-col>
                    <div>
                        <label cLabel for="exampleFormControlInput1">Prénom</label>
                        <input
                        cFormControl
                        name="prenom"
                        [(ngModel)]="prenom"
                        type="text"
                        placeholder="Prénom"
                        />
                    </div>
                </c-col>

                <c-col>
                    <div>
                        <label cLabel for="exampleFormControlInput1">Profession</label>
                        <input
                        cFormControl
                        name="profession"
                        [(ngModel)]="profession"
                        type="text"
                        placeholder="Profession"
                        />
                    </div>
                </c-col>

                <c-col>
                    <div>
                        <label cLabel for="exampleFormControlInput1">Email</label>
                        <input
                        cFormControl
                        name="email"
                        [(ngModel)]="email"
                        type="text"
                        placeholder="Email"
                        />
                    </div>
                </c-col>

                <c-col>
                    <div>
                        <label cLabel for="exampleFormControlInput1">Téléphone</label>
                        <input  
                        cFormControl
                        name="telephone"
                        [(ngModel)]="telephone"  
                        type="tel" 
                        placeholder="(123) 456-7890" 
                        data-sb-validations="required" />
                    </div>
                </c-col>
            </c-row>

            <br>

            <button cButton color="primary" type="submit" class="w-100"
            (click)="inscriptionDefinitive()">Enregistrer</button>

          </c-card-body>
        </c-card>
    </c-col>
</c-row>
